body{/*adding background color to the page*/
  background-color: #696969;
}

h1{
  background-color: #000000 ;/*padding color*/
  border: 5px groove;/*size and style of border*/
  color: #F0F8FF;/*font color*/
  display: inline-block;/*turning into inline-block*/
  font-family:  "Lucida Calligraphy",/*giving a typography to the title*/
  "Lucida Handwriting", "Apple Chancery";
  font-size: 90px;/*typography size*/
  height: 200px;
  margin: 10px 10px 10px 10px;
  padding: 20px;/*size of padding*/
  text-shadow:5px 2px 4px #B0C4DE;/*applying shadow to the text*/
  width: 1250px;
  }

div.subtitulo{
  /*defining subtitle style*/
  background-color: #191970 ;
  border: 5px groove #000000;
  color:#F5F5DC ;
  display: inline-block;
  font-family: monospace;
  height: 30px;
  margin-top: 10px 10px 10px 100px;
  text-align: center;/*aligning the text to the center*/
  width: 300px;
}
