body{
  /*agregando color de fondo a la pagina*/
  background-color: #696969;
}

h1{
    display: inline-block;/*convirtiendo en inline-block*/
    font-family:  "Lucida Calligraphy",/*dando una tipografia al titulo*/
    "Lucida Handwriting", "Apple Chancery";
    font-size: 90px;/*tamaño de tipografia*/
    text-shadow:5px 2px 4px #B0C4DE;/*aplicando sombra al texto*/
    padding: 20px;/*tamaño del padding*/
    color: #F0F8FF;/*color de letra*/
    background-color: #000000 ;/*color de padding*/
    border: 5px groove;/*tamaño y estilo de border*/
    width: 1250px;/*ancho*/
    height: 200px;/*altura*/
    margin: 10px 10px 10px 10px;
  }

div.subtitulo{
  /*definiendo estilo de subtitulo*/
    display: inline-block;
    font-family: monospace;
    text-align: center;/*alineando el texto al centro*/
    color:#F5F5DC ;
    background-color: #191970 ;
    border: 5px groove #000000;
    width: 300px;
    height: 30px;
    margin-top: 10px 10px 10px 100px;
}
