
span.caja1{
  background-color:	#FFD700;
  height: 10px;
  margin: 10px 15px 10px 15px;
  padding: 10px;
  width: 50px;
}

span.caja2{
  background-color: #121319;/*padding color*/
  color: #FFFFFF;/*font color*/
  height: 10px;
  margin:10px 15px 10px 15px;
  padding: 10px;
  width: 50px;
}

span.caja3{
  background-color:	#FFD700;
  height: 10px;
  margin: 10px 15px 10px 15px;
  padding: 10px;
  width: 50px;
}
